---
# Only the main Sass file needs front matter (the dashes are enough)
---
/* from https://github.com/jwrr/minima-sidebar/tree/master */

@import "minima";

/* ********************************************************* */
/* SIDEBAR */
nav.toc {float:right;width:20%;max-width:320px;margin-top:0px;}
nav.toc ul {padding-left:0;margin-left:0;}
div.wrapper {max-width:960px;margin-left:5%;}
div.post-content > p {width:75%;}
table,hr,p,div.highlight {width:75%;}

/* SIDEBAR WITHOUT MORE LEVELS OFTAGS */
div.post-content > #markdown-toc {float:right;width:20%;}
div.post-content > #markdown-toc {list-style:none;padding-left:0;margin-left:0;}
div.home > #markdown-toc {float:right;width:20%;}
div.home > #markdown-toc {list-style:none;padding-left:0;margin-left:0;}
div.wrapper {max-width:960px;margin-left:5%;}
div.post-content > p {float:left; width:70%}
table,hr,p,div.highlight {width:70%}
